*{
  overflow: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar{
  display: none;
}

/* Login component */

.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.form-container *{
  display: block;
}
.form-container::before{
  content: "";
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: url("../public/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.main-form{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 30px;
  flex-direction: column;
  height: 70%;
  width: 40%;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
}

.main-form h2{
  margin: 0.8rem;
  text-align: center;
}
.main-form p{
  text-align: center;
  margin: 0.5rem 0.6rem;
  /* padding: 10px; */
}
.main-form input{
  margin-bottom: 0.8rem;
  margin-top: 0.4rem;
  outline: none;
  border: none;
  border-radius: 50px;
  box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.28);
  font-size: 1.2rem;
  padding: 7px 10px;
  width: 100%;
}

.main-form label{
  padding-left: 5px;
}

.main-form button{
  margin: 0.2rem auto;
  outline: none;
  border: none;
  padding: 20px;
  font-size: medium;
  border-radius: 30px;
  width: 40%;
  background-color: aquamarine;
}

.main-form span{
  text-align: center;
  padding: 5px;
  margin: 0.2rem;
}

.main-form Link{
  display: inline-block;
  
}
